@{
    ViewData["Title"] = "Welcome to J-Basketball";
}

<div class="text-center">
    <h1 class="display-4">Welcome to J-Basketball</h1>
    <p>Master your basketball skills</p>
    <img src="~/image/basketball.jpg" height="400" alt="Basketball"/>
</div>

<div class="content-container">
    <div class="intro-section">
        <h2>why J-Basketball</h2>
        <p>
            have you seen Kobe make the final shot? Have you seen Lebron catching the Lob from Dwyane Wade? 
            Or steph Carry shooting from the half court? What is your moment making you pick up the basketball? 
            What if I tell you that could be you. You can be the one creating that moment! Starting from the
            fundamental training at J-Basketball. We will develop the basic skill so you may be ready to 
            the next level. Not stress, but pure passion to basketball
        </p>
        <p>
            My basketball journey start with my father and brother. I start as a shooter in the coner since
            they are bigger than me when I young. Then, I develop my handling and start to play point guard in
            the school team. That was when the magic of basketball kicking in. When you are in the game, it feels
            different. I was stuff, and moving like a wood. I was nervous. I understand that feeling, and I hope 
            no one will feel the same as me. J-basketball will help you prepare for the game. The more you practice, 
            more confident you are in the game!
        </p>
    </div>
    
    <img src="~/image/image000002.jpg" alt="Basketball"/>
    
    
</div>